.magazines {
  &__create {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__wrapper {
    overflow: auto;
    max-width: calc(100vw - 400px + 20px);
    width: max-content;
    max-height: 500px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__table {
    border: 1px solid var(--primary);
    width: max-content;

  }

  &__row {
    display: grid;
    grid-template-columns: 400px repeat(var(--columns), 70px);

    &--goods {
      grid-template-columns: 280px 120px repeat(var(--columns), 70px);
    }

    &--head {
      pointer-events: none;
      position: sticky;
      top: 0;
      z-index: 100;
    }

    &:hover {
      .magazines__item {
        &::before {
          background-color: var(--primary-25);
        }

        &--hover {
          background-color: var(--primary-25);
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    white-space: nowrap;
    border: 1px solid var(--primary);
    background: white;

    &--long {
      grid-column: 1 / 3;
    }

    &--head {
      flex-direction: column;

      &:first-child {
        align-items: flex-start;
        position: sticky;
        left: 0;
      }
    }

    &--left {
      justify-content: flex-start;
    }

    &--stop-pos {
      position: sticky;
      left: 280px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &--color-gray, &--color-default {
      color: var(--primary-50);
    }

    &--color-green {
      font-weight: 700;

      span {
      }
    }

    &--color-red {
      color: var(--supply-red);

      span {
        color: var(--supply-red);
      }
    }
  }

  &__product-title {
    grid-row: 1 / calc(var(--row) + 1);
    position: sticky;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}