.messages {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  padding: 10px;
  z-index: 100000;

  &__item {
    margin: 0;
    color: var(--white);
    padding: 5px 10px;
    pointer-events: all;

    &--error {
      background: var(--red);
    }

    &--success {
      background: var(--green);
    }
  }
}

@media screen and (max-width: 1000px) {
  .messages {
    max-width: 100vw;
  }
}