.salaries {
  color: var(--primary);

  &__list {
    max-width: 600px;
  }

  &__actions {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &__title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__sub-title {
    margin-top: 20px;
  }

  &__card {
    z-index: 100;
    background: var(--white);
    position: sticky;
    top: 0;
  }

  &__checkbox {
    margin-bottom: 10px;
  }
}