.u-button {
  font-size: 18px;
  display: block;
  border: 1px solid var(--primary);
  background: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--primary);
  cursor: pointer;
  transition: color .3s ease-in-out, background .3s ease-in-out;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--primary);
      color: var(--white);
    }
  }

  @media (hover: none) {
    transition: unset;

    &:active {
      background: var(--primary);
      color: var(--white);
    }
  }

  &--big {
    font-size: 24px;
  }

  &--yellow {
    --primary: var(--yellow);
  }

  &--red {
    --primary: var(--red);
  }
}

@media screen and (max-width: 1000px) {
  .u-button {
    font-size: 14px;

    &--big {
      font-size: 18px;
    }
  }
}