.u-button {
  font-size: 16px;
  display: block;
  border: 1px solid var(--primary);
  background: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--primary);
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--primary);
      color: var(--white);
    }
  }

  @media (hover: none) {
    &:active {
      background: var(--primary);
      color: var(--white);
    }
  }

  &--big {
    font-size: 19px;
  }

  &--yellow {
    --primary: var(--yellow);
  }

  &--red {
    --primary: var(--red);
  }
}