.goods-kit {
  color: var(--primary);

  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  &__select {
    &--product {
      z-index: 10;
    }
  }

  &__add-kit {
    margin-left: auto;
  }

  &__delete-kit {
    position: absolute;
    right: 10px;
    top: 26px;
    width: 33px;
    height: 33px;

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background: var(--red);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: left top;
    }

    &::before {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    &:hover, &:active {
      &::before, &::after {
        background: var(--white);
      }
    }
  }

  &__form-item {
    position: relative;
    z-index: var(--z-index);
    max-width: 100%;

    &--division {
      padding-right: 50px;
    }
  }

  &__title, &__content {
    width: calc(100% - 30px);
  }

  &__content {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .goods-kit {
    &__delete-kit {
      top: 28px;
      right: 10px;
      width: 28px;
      height: 28px;
    }

    &__form-item {
      &--division {
        padding-right: 48px;
      }
    }
  }
}