.orders-list {
  color: var(--primary);
  max-width: 900px;

  @media screen and (min-width: 1000px) {
    grid-gap: 0;
  }

  &--mobile {
    display: none;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);

    @media screen and (min-width: 1000px) {
      display: grid;
      grid-template-columns: 150px 1fr 150px 110px 70px auto;
      border: 1px solid var(--primary);
      padding: 5px 10px;
      align-items: center;

      &:not(:first-child) {
        margin-top: -1px;
      }

      .text {
        margin-bottom: 0;
      }
    }
  }

  &__name {
    white-space: nowrap;
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;

    @media screen and (min-width: 1000px) {
      position: static;
    }
  }
}

@media screen and (max-width: 1000px) {
  .orders-list {
    display: none;

    &--mobile {
      display: grid;
    }
  }
}