.orders-list {
  color: var(--primary);
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__text {
    &--alarm {
      color: var(--yellow);
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
}