.orders-list {
  color: var(--primary);
  max-width: 600px;

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
}