.orders-send {
  &__name {
    margin: 0;
  }

  &__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    align-items: center;
  }

  &__card {
    &--collect {
      opacity: 0.7;

      * {
        color: var(--primary);
      }
    }
  }
}
