.other {
  &__list {
    max-width: 600px;
  }

  &__text {
    width: calc(100% - 50px);
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__select-product {
    z-index: 5;
  }
}