.u-checkbox {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  font-size: 18px;
  cursor: pointer;

  &__input {
    display: none;

    &:checked ~ .u-checkbox__marker {
      background: var(--primary);
    }
  }

  &__marker {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    position: relative;
    background: var(--white);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: var(--white);
      width: 50%;
      height: 50%;
    }
  }
}
