.graphics {
  color: var(--primary);
  width: 100%;

  &__create {
    margin-bottom: 20px;
  }

  &__sub-title {
    margin: 10px 0;
  }

  &__picture {
    max-width: calc(var(--window-width) - 400px - 100px);
    overflow: auto hidden;

    @media screen and (max-width: 1000px) {
      max-width: calc(var(--window-width) - 100px);
    }
  }

  &::v-deep {
    .v-tooltip-content {
      top: 0 !important;
    }
  }
}