.sidebar-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: var(--window-height);

  &__content {
    padding: 20px 20px calc(var(--window-height) / 4) 20px;
  }

}

@media screen and (max-width: 1000px) {
  .sidebar-layout {
    display: block;
  }
}