.supplies {
  color: var(--primary);

  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__item {
    position: relative;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__delete-supply {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background: var(--red);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: left top;
    }

    &::before {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    &:hover, &:active {
      &::before, &::after {
        background: var(--white);
      }
    }
  }

  &__add-supply {
    margin-left: auto;
  }

  &__alarm {
    color: var(--red);
    font-weight: 700;
  }

  &__select {
    z-index: 10;

    &--two {
      z-index: 5;
    }

    &::v-deep {
      .u-select__item {
        &:first-child {
          height: 28px;
        }

        width: 100%;
        white-space: unset;
        height: max-content;
      }
    }
  }

  &__goods-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__goods-receive, &__goods-give {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__card {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__good-item {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid var(--primary);
    }
  }

  &__sub-list {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}