.salaries {
  color: var(--primary);

  &__list {
    max-width: 600px;
  }

  &__create {
    margin-bottom: 20px;
  }

  &__sub-title {
    margin-top: 20px;
  }

  &__card {
    z-index: 100;
    background: var(--white);
    position: sticky;
    top: 0;
  }
}