.workers {
  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__content {
    max-width: calc(100% - 50px);
    color: var(--primary);
  }

  &__text {
    span {
      &:not(:last-child) {
        &::after {
          content: ", ";
        }
      }
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__warehouse-select {
    z-index: var(--z-index);
  }

  &__rule {
    z-index: 2;
  }

  &__warehouse-list {
    position: relative;
    z-index: 1;
  }

  &__warehouse {
    &--division {
      position: relative;

      .workers {
        &__warehouse-select {
          max-width: calc(100% - 50px);
        }
      }
    }
  }

  &__warehouse-delete {
    position: absolute;
    right: 0;
    top: 16px;
    width: 33px;
    height: 33px;

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background: var(--red);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: left top;
    }

    &::before {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    &:hover, &:active {
      &::before, &::after {
        background: var(--white);
      }
    }
  }

  &__add-warehouse {
    margin-left: auto;
  }
}

@media screen and (max-width: 1000px) {
  .workers {
    &__warehouse-delete {
      width: 28px;
      height: 28px;
      top: 14px;
    }
    &__warehouse {
      &--division {
        .workers {
          &__warehouse-select {
            max-width: calc(100% - 38px);
          }
        }
      }
    }
  }
}