.promos {
  color: var(--primary);
  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__content {
    max-width: calc(100% - 50px);
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
