.promos {
  color: var(--primary);
  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__content {
    max-width: calc(100% - 50px);
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
