.packing {
  &__create {
    margin-bottom: 20px;
  }

  &__list {
    max-width: 600px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__actions {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}