.plan-packing {
  color: var(--primary);
  width: 100%;

  &__actions {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &__sub-title {
    font-size: 18px;
    font-weight: 700;
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__title, &__sub-title {
    position: sticky;
    left: 0;
    margin: 10px 0;
  }

  &__item {
    display: grid;
    grid-template-columns: 200px 150px 100px repeat(var(--columns), 100px);

    &--head {
      grid-template-columns: 350px 100px repeat(var(--columns), 100px);
      .plan-packing {
        &__column {
          font-weight: 700;
          justify-content: center;
        }
      }
    }
  }

  &__column {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid var(--primary);

    &--center {
      justify-content: center;
    }

    &--big {
      grid-row: 1 / var(--rows);
    }
  }
}