.u-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr auto;
  grid-gap: 20px;
  color: var(--primary);
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    overflow: hidden auto;
    padding-bottom: 200px;
  }

  &__submit {
    margin-top: auto;
    width: 100%;
  }
}