.sidebar {
  width: 400px;
  padding: 20px;
  border-right: 1px solid var(--primary);
  box-shadow: var(--shadow-sidebar);
  height: var(--window-height);
  overflow: hidden auto;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 10;

  &__close {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background: var(--red);

      &::before, &::after {
        background: var(--white);
      }
    }

    &::before, &::after {
      content: '';
      width: 80%;
      height: 2px;
      background: var(--red);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: left top;
    }

    &::before {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }

  &__link {
    display: flex;
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;

    @media (hover: hover) {
      &:hover {
        opacity: 0.65;
      }
    }

    @media (hover: none) {
      &:active {
        opacity: 0.65;
      }
    }

    &--active {
      pointer-events: none;
      opacity: 0.65;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__accordion {
    &::v-deep {
      .u-accordion__content {
        padding-left: 10px;
      }
    }
  }
}

.sidebar-open {
  display: none;
}

@media screen and (max-width: 1000px) {
  .sidebar-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    grid-gap: 3px;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    background: var(--white);
    z-index: 100;

    span {
      width: 95%;
      height: 2px;
      background: var(--primary);
    }
  }

  .sidebar {
    display: none;

    &__list {
      max-width: calc(100% - 50px);
    }

    &__link {
      font-size: 18px;
    }

    &--open {
      display: block;
      z-index: 105;
    }

    &__close {
      display: block;
    }
  }
}