.u-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  height: var(--window-height);
  background: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 20px;
    background: var(--white);
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__actions {
    width: max-content;
    display: flex;
    grid-gap: 10px;
    margin: 0 auto;
  }
}
