.u-accordion {
  width: 100%;
  color: var(--primary);

  &--small {
    .u-accordion {
      &__header {
        font-size: 18px;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    font-size: 20px;

    svg {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      width: 8px;
      height: auto;
    }

    span {
      margin-bottom: 0;
    }

    &--open {
      svg {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &__content {
    margin-top: 10px;
  }
}