:root {
    --white: #fff;
    --black: #000;
    --gray: #808080;

    --primary: #15658a;
    --primary-50: rgba(21, 101, 138, 0.5);
    --primary-25: rgba(21, 101, 138, 0.25);

    --red: #a72727;
    --yellow: #85851d;
    --yellow-50: rgba(133, 133, 29, 0.5);
    --yellow-light: yellow;
    --green: #6cb85c;

    --blue: rgba(0, 209, 255, 0.5);

    --back: rgba(0, 0, 0, 0.5);
    --shadow: 0px 4px 10px 0px rgba(34, 60, 80, 0.2);
    --shadow-sidebar: 0px 4px 10px 8px rgba(34, 60, 80, 0.2);

    --supply-red: #d85252;;
}