@import url("./_generic.scss");
@import url("./_vars.scss");

html {
  overflow: hidden;
}

body {
  height: var(--window-height);
  overflow: hidden auto;
}

#app {
  height: var(--window-height);
}

.text {
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &--big {
    font-size: 18px;
  }

  &--few {
    color: var(--yellow);

    * {
      color: var(--yellow);
    }
  }

  &--few-back {
    background: var(--yellow-light);
    padding: 2px 5px;
    width: max-content;
    max-width: 100%;
  }

  &--few-very {
    color: var(--red);

    * {
      color: var(--red);
    }
  }

  &--bold {
    font-weight: 700;

    * {
      font-weight: 700;
    }
  }

  &--null {
    color: var(--gray);

    * {
      color: var(--gray);
    }
  }
}

.sub-title {
  font-size: 19px;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  * {
    font-weight: 700;
  }
}

.title {
  font-weight: 700;
  font-size: 22px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  * {
    font-weight: 700;
  }
}

.list {
  display: grid;
  grid-gap: 10px;
}