@import url("./_generic.scss");
@import url("./_vars.scss");

html {
    overflow: hidden;
}

body {
    height: var(--window-height);
    overflow: hidden auto;
}

#app {
    height: var(--window-height);
}

