.orders-preview {
  &__tabs {
    display: grid;
    margin: 10px 0;
    grid-gap: 10px;
  }
  &__button-list {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
  }

  &__item {
    padding-left: 10px;
  }

  &__collect {
    margin-bottom: 10px;
  }

  &__status-list {
    margin: 10px 0;
  }
}
