.goods {

  &__list {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__item {
    position: relative;
    background: var(--white);
    z-index: var(--z-index);
  }

  &__title {
    font-size: 18px;
  }

  &__text {
    &--few, &--few-very {
      font-weight: 700;
    }

    &--few {
      color: var(--yellow);
    }

    &--few-very {
      color: var(--red);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}